$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #1CB44F;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$background: #777;
$black: #000000;